monografia.aux
consertos.aux
monografia.bbl
monografia.blg
monografia.brf
monografia.fdb_latexmk
monografia.fls
monografia.idx
monografia.ilg
monografia.ind
monografia.lof
monografia.log
monografia.lot
monografia.nlo
monografia.synctex.gz
monografia.toc